<div class="gap"></div>

<div id="sec_jugadores" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="icon-jugador"></i>Jugadores

	        	<small class="label_region">en Argentina</small>
	      	
	      	</h2>
	    
	    </div>

	    <div class="mini_gap"></div>

	    <!-- FILTROS: -->
	    <div class="form-group">
	    	
	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-asc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-desc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-clock-o"></i> Recientes</a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="icon-copa"></i> Ranking</a>

	    	<div class="input-group busqueda">
	    	
	    		<input type="text" class="form-control" id="direccion" placeholder="BÚSQUEDA">

	    		<div class="input-group-addon"><i class="fa fa-search"></i></div>

	    	</div>

	    </div>

    	<div class="row">

    		<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href="/jugador"><img src="images/IMG-USR01.jpg"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href=""><img src="images/IMG-USR02.jpg"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href=""><img src="images/IMG-USR03.jpg"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href=""><img src="images/IMG-USR04.jpg"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href=""><img src="images/avatar-default.png"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

			<div class="col-xs-10 col-sm-5 col-md-4 col-lg-3">

    			<div class="tarjeta_jugador wow fadeInLeft">

    				<a href=""><img src="images/avatar-default.png"></a>

                	<div class="jug_resumen">

                		<h3>Jorge Solís</h3>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-copa"></i></span>

		        			<h4>TORNEOS</h4>

		        			<p>+12</p>
						
						</div>

						<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+12</p>
						
						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="mini_gap"></div>

		<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>

		<div class="mini_gap"></div>

	</div>

</div>
