<div class="gap"></div>

<div id="planilla-registro" class="seccion planilla">

	<div class="contenedor_sec">
 	
	 	<div class="titulo wow fadeInDown">

	      	<h2 class="sombra_blanco_gris">
	        	
	        	<i class="fa fa-user-plus"></i>REGISTRATE
	      	
	      	</h2>

	      	<p>¿Querés participar?</p>

	      	<p><small>REGISTRATE PARA CREAR TU PERFIL DE JUGADOR Y PARTICIPAR DE LOS TORNEOS.</small></p>
	    
	    </div>

		<div id="torneo-inner">

			<form>

				<div class="row">

					<div class="col-lg-5 col-md-6">

					  	<div class="form-group wow fadeInRightBig">

					    	<label for="nombre">Nombre:</label>

					 		<input type="text" class="form-control" id="nombre" placeholder="NOMBRE">

					  	</div>

					  	<div class="form-group wow fadeInRightBig">

					    	<label for="apellido">Apellido:</label>

					 		<input type="text" class="form-control" id="apellido" placeholder="APELLIDO">

					  	</div>

					  	<div class="form-group wow fadeInRightBig">

					    	<label for="email">email:</label>

					 		<input type="email" class="form-control" id="email" placeholder="EMAIL">

					  	</div>

					  	<div class="form-group wow fadeInRightBig">

					    	<label for="contrasenia">Contraseña:</label>

					 		<input type="password" class="form-control" id="contrasenia" placeholder="***">

					  	</div>

					  	<div class="form-group wow fadeInRightBig">

					    	<label for="contraseniaConf">Confirmar contraseña:</label>

					 		<input type="password" class="form-control" id="contraseniaConf" placeholder="***">

					  	</div>

					  	<div class="checkbox wow fadeInLeft entrada-1s">
						    
						    <label>
						    
						    	<input type="checkbox"> <span>Acepto los <a href="">Términos y condiciones</a> del servicio.</span>
						    
						    </label>
						
						</div>

						<div class="mini_gap"></div>

						<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated" href="#about_menu" role="button">REGISTRARME</a>

					</div>

				</div>

			</form>

		</div>

	</div>

</div>