<div class="gap"></div>

<div id="sec_jugadores" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo wow fadeInDown">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="icon-jugador"></i>Videos

	        	<small class="label_region">en Argentina</small>
	      	
	      	</h2>
	    
	    </div>

	    <div class="mini_gap"></div>

	    <!-- FILTROS: -->
	    <div class="form-group">
	    	
	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-asc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-desc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-clock-o"></i> Recientes</a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="icon-copa"></i> Ranking</a>

	    	<div class="input-group busqueda">
	    	
	    		<input type="text" class="form-control" id="direccion" placeholder="BÚSQUEDA">

	    		<div class="input-group-addon"><i class="fa fa-search"></i></div>

	    	</div>

	    </div>

	    <div class="row">

    		<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1g7wpkLa0r8" allowfullscreen></iframe>

					</div>

                	<!--
                	<div class="vid_info">

                		<ul>

                			<li><a href="">Mariana Bugallo</a></li>

                		</ul>

					</div> -->

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EayB4xrcxX4" allowfullscreen></iframe>

					</div>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/reIP1rbemRs" allowfullscreen></iframe>

					</div>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P2Q4uEicn3I" allowfullscreen></iframe>

					</div>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rI57qseVg1U" allowfullscreen></iframe>

					</div>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iZ5yVp1COaU" allowfullscreen></iframe>

					</div>

				</div>

			</div>

		</div>





		<div class="mini_gap"></div>

		<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>

		<div class="mini_gap"></div>

	</div>

</div>


