
.icon-argentina:before { content: '\e800'; } /* '' */
.icon-buenos-aires:before { content: '\e801'; } /* '' */
.icon-copa:before { content: '\e802'; } /* '' */
.icon-cordoba:before { content: '\e803'; } /* '' */
.icon-jugador:before { content: '\e804'; } /* '' */
.icon-mapacoperable:before { content: '\e805'; } /* '' */
.icon-notificacion:before { content: '\e806'; } /* '' */
.icon-revista:before { content: '\e807'; } /* '' */
.icon-slamers:before { content: '\e808'; } /* '' */
.icon-slam-logo01:before { content: '\e809'; } /* '' */
.icon-slam-logo02:before { content: '\e80a'; } /* '' */
.icon-slam-logo03:before { content: '\e80b'; } /* '' */
.icon-slam-logo04:before { content: '\e80c'; } /* '' */
.icon-slam-logo-arg:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */