<h1>JUGADOR</h1>

<!-- Nav tabs -->
	<div>

	  	<ul class="nav nav-tabs" role="tablist">

		    <li role="presentation" class="active"><a data-target="#tab_info" aria-controls="tab_info" role="tab" data-toggle="tab">Info</a></li>

		    <li role="presentation"><a data-target="#tab_jugadores" aria-controls="tab_jugadores" role="tab" data-toggle="tab">Jugadores</a></li>

		    <li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>

		    <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>

	  	</ul>

	  	<!-- Tab panes -->
	  	<div class="tab-content">
	    	
	    	<div role="tabpanel" class="tab-pane active" id="tab_info" style="color:#000">
	    	
	    		<h4>Infooooooooooo</h4>

	    	</div>

		    <div role="tabpanel" class="tab-pane" id="tab_jugadores" style="color:#000">
		    	
		    	<h4>Jugadoreeeeeeees</h4>

		    </div>

		    <div role="tabpanel" class="tab-pane" id="messages" style="color:#000">...</div>

		    <div role="tabpanel" class="tab-pane" id="settings" style="color:#000">...</div>

	  	</div>

	</div>

