
<!-- Imagen de cabecera 
<div class="blog_header" style="background-image:url('images/slider_1.jpg');">
  <div class="fill_mask">
    <div class=" title_center">
      <p class="wow fadeInDown ">
         TORNEO
      </p>
    </div>
    <div class="center_line">
    </div>
  </div>
</div>
-->


<!-- Page Content -->

<div class="gap"></div>

<div id="ficha-torneo" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo wow fadeInDown">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="icon-copa"></i>Torneo
	      	
	      	</h2>
	    
	    </div>

		<div id="torneo-descripcion">

			<div class="row">

				<div class="col-md-8">

					<div class="datos-generales">

						<h1 class="wow fadeInLeft">6to Slam de Poesía Oral Rosario</h1>

						<div class="wow fadeInLeft afiche">

							<img src="/images/TORNEOS/6toSlamRosario.png">

						</div>
						
					</div>

				</div>

				<div class="panel-lateral col-md-4">

					<div class="fecha wow fadeInDown">

						<span class="icono" ><i class="fa fa-clock-o"></i></span>
					
						<span class="num">23</span> 
					
						<span class="mes">SEP</span>

						<span class="linea">|</span> 

						<span class="hora">23:00</span>
					
					</div>

					<div class="lugar wow fadeInDown">
					
						<span class="icono" ><i class="fa fa-map-marker"></i></span>

						<span class="lugar-nombre">Centro Cultural Rosario ??</span>

						<span class="direccion"><a href="">Laprida 834</a></span>

					</div>

					<div class="mini_gap"></div>

					<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn btn_principal animated entrada-1s animated" href="#about_menu" role="button">PARTICIPAR</a>

					<div class="gap"></div>

					<div class="hashtag-info wow fadeInRight">
						
						<span class="icono">#</span>
						
						<span>6toSlamRosario</span>
						
						<span class="aclaracion">fb - twitter - instagram - youtube</span>
					
					</div>

					<div class="fb-event wow fadeInRight">
						
						<a href="">

							<span class="icono"><i class="fa fa-facebook-square"></i></span>
						
							<span>ver evento</span>

						</a>

					</div>

					<div class="organiza wow fadeInRight">
						
						<span class="o-tit">ORGANIZADO POR:</span>

						<a href="">
							<span>Jorge Martínez</span>
						</a>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>



<div id="torneo_content">
	
	<!-- Nav tabs -->
	<div class="tabs_lookeadas">

	  	<ul class="nav nav-tabs panel_selector" role="tablist">

		    <li role="presentation" class="active"><a data-target="#tab_info" aria-controls="tab_info" role="tab" data-toggle="tab"><i class="fa fa-angle-right"></i> Info</a></li>

		    <li role="presentation"><a data-target="#tab_jugadores" aria-controls="tab_jugadores" role="tab" data-toggle="tab"><i class="icon-jugador"></i>Jugadores</a></li>

		    <li role="presentation"><a data-target="#tab_videos" aria-controls="tab_videos" role="tab" data-toggle="tab"><i class="icon-video"></i>Videos</a></li>

		    <li role="presentation"><a data-target="#tab_fotos" aria-controls="tab_fotos" role="tab" data-toggle="tab"><i class="fa fa-camera-retro"></i>Fotos</a></li>

		    <li role="presentation"><a data-target="#tab_comentarios" aria-controls="tab_comentarios" role="tab" data-toggle="tab"><i class="fa fa-comment-o"></i>Fotos</a></li>

	  	</ul>

  	</div>

  	<!-- Tab panes -->
  	<div class="tab-content contenedor_sec">
    	
    	<div role="tabpanel" class="tab-pane fade in active" id="tab_info">
    	
    		<div class="descripcion">

				<p>
					El 22 de Agosto entre todos hacemos el 6to Slam de Poesía Oral de Rosario. Un evento único, irrepetible y gratuito donde se une la cultura con la competencia. En esta ocasión contaremos con representantes de las ciudades de Santa Fe, Parana, Corrientes y claro, de la ciudad de Rosario! 100% Gratuito!
				</p>

				<p>
					Toca el ensamble NEGRAS DE ALMA!!!!Vamos a tener una alcancia magica donde vas a poder darle una mano al Gabriel Cejas para que pueda reponer la lampara de su proyector!!! :D!!!
				</p>

			</div>

			<div class="reglas">
				
				<h2><small><i class="fa fa-chevron-right"></i></small> REGLAS:</h2>

				<p>
					Un Slam es un torneo en donde cada participante cuenta con tres minutos máximo para ejecutar un poema de creación propia (verso o prosa). Lsos elementos con los que cuentan son su voz, cuerpo (teatralidad), el escenario, la interacción con el público y su textos.
				</p>

				<p>
					Al día de hoy, se llevan a cabo Slams de forma mensual en Chaco, Santa Fe, Mendoza, Salta, Entre Ríos, Corrientes, Córdoba, Formosa, Rosario y Mar del Plata. A su vez, se coordina el Slam Uruguayo de Montevideo y se mantiene contacto activo con los Slams de Chile, España, México, Francia, Guatemala, Alemania y Estados Unidos.
				</p>

				<p>
					El SLAM! es, principalmente, un programa de educación no formal y una manera lúdica e inclusiva de aprendizaje artístico y poético a escala internacional. Ha demostrado en reiteradas oportunidades su versatilidad, permitiendo rápidamente poner a una gran cantidad de personas (muchos de ellos jóvenes) a desarrollar su arte al máximo, en un corto periodo de tiempo. Hoy en día, siendo el ciclo literario con más convocatoria de Argentina, es un espacio que ya ha generado y sigue generando inclusión, participación y organización, y resulta a su vez un increíble punto de encuentro, no solo por el desarrollo de la plataforma comunicacional, sino porque cada jugador se apropia del evento a tal punto que luego se convierten ellos mismos en organizadores y gestores de sus propios círculos artísticos. Jugadores que generan nuevos jugadores y nuevos espacios de vinculación y expresión.
				</p>


			</div>

			<div class="gap"></div>

    	</div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_jugadores">

			<div class="torneo_info_inside">

		    	<div class="row">

		    		<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href="/jugador"><img src="images/IMG-USR01.jpg"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href=""><img src="images/IMG-USR02.jpg"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href=""><img src="images/IMG-USR03.jpg"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href=""><img src="images/IMG-USR04.jpg"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href=""><img src="images/avatar-default.png"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

					<div class="col-xs-6 col-sm-4 col-md-3">

		    			<div class="tarjeta_jugador">

		    				<a href=""><img src="images/avatar-default.png"></a>

		                	<div class="jug_resumen">

		                		<h3>Jorge Solís</h3>

		                		<div class="data-box">

				        			<span class="icon-box"><i class="icon-copa"></i></span>

				        			<h4>TORNEOS</h4>

				        			<p>+12</p>
								
								</div>

								<div class="data-box">

				        			<span class="icon-box"><i class="icon-video"></i></span>

				        			<h4>VIDEOS</h4>

				        			<p>+12</p>
								
								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="mini_gap"></div>

				<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>

			</div>

	    </div>

		<div role="tabpanel" class="tab-pane fade" id="tab_videos">
		    	
		    <div class="row">

	    		<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1g7wpkLa0r8" allowfullscreen></iframe>

						</div>

	                	<!--
	                	<div class="vid_info">

	                		<ul>

	                			<li><a href="">Mariana Bugallo</a></li>

	                		</ul>

						</div> -->

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EayB4xrcxX4" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/reIP1rbemRs" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P2Q4uEicn3I" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rI57qseVg1U" allowfullscreen></iframe>

						</div>

					</div>

				</div>

				<div class="col-xs-11 col-sm-6 col-lg-4">

	    			<div class="tarjeta_video">

	    				<div class="embed-responsive embed-responsive-16by9">

						  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iZ5yVp1COaU" allowfullscreen></iframe>

						</div>

					</div>

				</div>

			</div>

	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_fotos">...</div>

	    <div role="tabpanel" class="tab-pane fade" id="tab_comentarios">...</div>

  	</div>

</div>




<!--
	<div id="torneo-content">


		<div class="contenedor">

			<div class="row content-selector wow fadeInRight">

				<a href="">
				
					<div class="col-md-3 item active">

						<i class="icon-jugador"></i>

						<span>JUGADORES</span>
					
					</div>
				</a>

				<div class="col-md-3 item">

					<a href="">

						<i class="icon-video"></i>

						<span>VIDEOS</span>

					</a>
					
				</div>

				<div class="col-md-3 item">

					<a href="">

						<i class="fa fa-camera-retro"></i>

						<span>FOTOS</span>

					</a>
					
				</div>

				<div class="col-md-3 item">

					<a href="">

						<i class="fa fa-comment-o"></i>

						<span>COMENTARIOS</span>

					</a>
					
				</div>

			</div>

		</div>

		<div id="content-jugadores">

			<div class="info"> 

				<div>
					
					<span id="num-registrados">12</span>

					<span><small>Registrados</small></span>
				
				</div>

				<div>

					<span id="num-cupos">8</span>

					<span class="cupos">Cupos disponibles</span>

				</div>
				
			</div>

			<div id="grilla-jugadores" class="wow fadeInLeft">
				
				<div class="row">

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/IMG-USR01.jpg">

								</div>

								<div class="info-jugador">

									<p>José Marín</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/IMG-USR02.jpg">

								</div>

								<div class="info-jugador">

									<p>Martín Cruceño</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/IMG-USR03.jpg">

								</div>

								<div class="info-jugador">

									<p>Nuriberto Gómez</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/IMG-USR04.jpg">

								</div>

								<div class="info-jugador">

									<p>Jabalí SuperElectro</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/avatar-default.png">

								</div>

								<div class="info-jugador">

									<p>Ben Whishaw</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/avatar-default.png">

								</div>

								<div class="info-jugador">

									<p>Mauricio Montenegroa</p>

								</div>
								
							</div>

						</a>
					
					</div>

				</div>

				<div class="row">

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/avatar-default.png">

								</div>

								<div class="info-jugador">

									<p>Pescadín Jirafonte</p>

								</div>
								
							</div>

						</a>
					
					</div>

					<div class="col-xs-6 col-md-3 col-lg-2">

						<a href="#modal-jugador4" data-toggle="modal">

							<div class="jugador">

								<div class="avatar">

									<img src="../images/avatar-default.png">

								</div>

								<div class="info-jugador">

									<p>Natalia Lafourcade</p>

								</div>
								
							</div>

						</a>
					
					</div>

				</div>

			</div>

			<div id="modal-jugador4" class="modal fade eventime_modal">

			  <div class="modal-dialog">

			    <div class="modal-content">

			      <div class="modal-header">

			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			        &times; </button>
			        <h4 class="modal-title">
			        Jeremy Crackevich </h4>
			        <small>
			        Featured guest </small>
			      </div>
			      <div class="modal-body">
			        <img src="images/featured_speaker.jpg" alt="img10"/>
			        <p>
			          <br>
			           Crackevich's influence on contemporary graphic design is unparalleled. <br>
			           This outstanding expert and self-named typomaniac is responsible for numerous custom and redesigned typefaces and font identities for world-renowned corporations. Moreover, he has created dozens of commercial typefaces which are considered to be modern classics of typography. <br>
			           In 1979, he founded CrackevichDesign - German mega-firm providing global design consultancy. The success of this company can be measured by a long list of the most relevant prizes including multiple red dot awards and European Design Awards. <br>
			          <br>
			           More about Jeremy Crackevich can be found <a href="#">here</a>.
			        </p>
			      </div>
			      <div class="modal-footer">
			        <a href="#" class="contact_icon fa fa-facebook graybtn graytxt">
			        </a>
			        <a href="#" class="contact_icon fa fa-twitter graybtn graytxt">
			        </a>
			      </div>
			    </div>
			  </div>
			</div>

			<div class="gap"></div>

			<a style="visibility: visible; animation-name: fadeInRight;" class="wow fadeInRight btn eventime_button animated" href="#about_menu" role="button">PARTICIPAR</a>

			<div class="gap"></div><div class="gap"></div>

		</div>
		
	</div>

</div> -->
