<div class="gap"></div>

<div id="sec_torneoPrincipal" class="seccion fondo_claro">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_principal torneo_info_inside">

	    <div class="titulo">

	      	<h2 class="en_color_principal sombra_blanco_gris">
	        	
	        	<i class="icon-copa"></i>Próximos Torneos

	        	<small class="label_region">en Argentina</small>
	      	
	      	</h2>
	    
	    </div>

    	<div class="row wow fadeInRight">

    		<div class="col-sm-12 col-md-5">
    			
    			<img src="../images/TORNEOS/SLAM-CCK.jpg">

    			<div class="ver_mas izq"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

    		</div>

    		<div class="col-xs-12 col-sm-6 col-md-3">

    			<a href="">

    				<h4 class="torneo_nombre">1er Slam! Futuro - en el Centro Cultural Kirchner! Gratis!</h4>

    			</a>

    			<div class="torneo_fecha">

					<span class="icon-box" ><i class="fa fa-clock-o"></i></span>
				
					<span class="num">23</span> 
				
					<span class="mes">SEP</span>

					<span class="linea">|</span> 

					<span class="hora">23:00</span>
				
				</div>

				<div class="torneo_lugar">
				
					<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

					<span class="lugar-nombre">Centro Cultural Kirchner</span>

					<span class="direccion"><a href="">Laprida 834</a></span>

				</div>

        		<div class="data-box featured">

        			<span class="icon-box"><i class="icon-jugador"></i></span>

        			<h4><small>JUGADORES</small>CUPOS</h4>

        			<p><small>+24</small>+12</p>
				
				</div>

				<a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn btn_principal animated entrada-1s animated" href="#about_menu" role="button">PARTICIPAR</a>

				<div class="mini_gap"></div>

    		</div>

    		<div class="col-xs-12 col-sm-6 col-md-4 torneo_descripcion wow fadeInRightBig">
    			
    			<p>
    				SE VIENE UN INCREIBLE SLAM! EN LA TERRAZA INTERNA ARRIBA DE LA BALLENA DEL CCK!! DENTRO DE "POÉTICA: FESTIVAL FEDERAL DE POESÍA" 
    			</p>

    			<p>
    				CUALQUIERA PUEDE PARTICIPAR!
    			</p>

    			<p>
    				EL PROXIMO VIERNES, ENTRE LAS 18 Y LAS 18:30 ANOTAMOS A LOS JUGADORES (CUPO LIMITADO!)
    			</p>

    			<p>
    				LOS TEXTOS DE LOS JUGADORES DEBEN ESTAR RELACIONADOS CON EL FUTURO, YA SEA QUE FUERON ESCRITOS, SOBRE EL FUTURO, DESDE EL FUTURO, PARA EL FUTURO, ENTRE EL FUTURO O ANTE EL FUTURO (O CUALQUIERA DE LAS DEMAS PREPOSICIONES!!)
    			</p>

    			<p>
    				VAMOS A CONOCER ESTE CENTRO CULTURAL TAN INCREÍBLE Y A LLENARLO DE POESIA ORAL!!!
    			</p>

    		</div>
    		
    	</div>   


    	<div class="row wow fadeInLeftBig">

    		<div class="col-xs-10 col-sm-5 col-md-4">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>

	    	<div class="col-xs-10 col-sm-5 col-md-4">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>

	    	<div class="col-xs-10 col-sm-5 col-md-4 hidden-sm">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>
	
	    </div>

	</div>

</div>

<div id="sec_torneosAnteriores" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec torneo_info_inside">

	    <div class="titulo">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="icon-copa"></i>Torneos Anteriores

	        	<small class="label_region">en Argentina</small>
	      	
	      	</h2>
	    
	    </div>

	    <div class="form-group wow fadeInLeft">
	    	
	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-asc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-sort-alpha-desc"></i></a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="fa fa-clock-o"></i> Recientes</a>

	    	<a class="btn eventime_button btn_filtro" href="#about_menu" role="button"><i class="icon-copa"></i> Ranking</a>

	    	<div class="input-group busqueda">
	    	
	    		<input type="text" class="form-control" id="direccion" placeholder="BÚSQUEDA">

	    		<div class="input-group-addon"><i class="fa fa-search"></i></div>

	    	</div>


	    	<div class="mini_gap"></div>

	    </div>

    	<div class="row wow fadeInLeftBig">

    		<div class="col-xs-10 col-sm-5 col-md-4">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>

	    	<div class="col-xs-10 col-sm-5 col-md-4">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>

	    	<div class="col-xs-10 col-sm-5 col-md-4 hidden-sm">

    			<div class="tarjeta_torneo torneo_info_inside" fecha="25 JUL">
                 	
                    <a href=""><h4 class="torneo_nombre">Torneo de apertura 2015</h4></a>

                	<div class="torneo_resumen">

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-jugador"></i></span>

		        			<h4>JUGADORES</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="icon-video"></i></span>

		        			<h4>VIDEOS</h4>

		        			<p>+5</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-camera"></i></span>

		        			<h4>FOTOS</h4>

		        			<p>+12</p>
						
						</div>

                		<div class="data-box">

		        			<span class="icon-box"><i class="fa fa-comment-o"></i></span>

		        			<h4>COMENTARIOS</h4>

		        			<p>+12</p>
						
						</div>

                	</div>

                	<div class="torneo_datos">

                		<div class="torneo_fecha">

							<span class="icon-box" ><i class="fa fa-clock-o"></i></span>

							<span class="hora">23:00</span>
						
						</div>

						<div class="torneo_lugar">
						
							<span class="icon-box" ><i class="fa fa-map-marker"></i></span>

							<span class="lugar-nombre">Centro Cultural Rosario ??</span>

							<span class="direccion"><a href="">Laprida 834</a></span>

						</div>

						<div class="torneo_hashtag">
							
							<span class="icon-box">#</span>

							<span class="aclaracion">SlamApertura2015</span>

						</div>

                	</div>

                	<div class="ver_mas"><a href=""><h3><i class="fa fa-caret-right"></i>ver más</h3></a></div>

            	</div>
	    	
	    	</div>
	
	    </div>

	    <a style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight btn eventime_button animated entrada-0s5" href="#about_menu" role="button">CARGAR MÁS..</a>
	
	</div>

</div>

<div class="gap"></div>

